<%= devise_error_messages %>
<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">    
      <div class="guide-content">
        <div class="page_title text-center">
            <h5 style="font-size: x-large; font-weight: bold;">ログイン</h5>
        </div>
      </div>
      <h6 style="color: grey;">※ゲストログイン(お試し使用)でのアクションは残りません。</h6>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
        <span class="badge badge-danger">必須</span><%= f.label :【メールアドレス】, class: "col-xs-3" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
        <span class="badge badge-danger">必須</span><%= f.label :【パスワード】, class: "col-xs-3" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン状態を保持する %>
        </div>
        <% end %>
        <div class="actions">
          <p><%= f.submit "ログイン", class: "btn btn3 col-sm-12" %></p>
        </div>
      <% end %>
      <p><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn4 col-sm-12" %></p>
      <p><%= render "users/shared/links" %></p>
    </div>
  </div>
</div>
