<div class="container">
  <div class="row">
    <div class="offset-sm-0 col-sm-12 offset-sm-0">
      <div class="guide-content">
        <div class="page_title text-center">
          <h5 style="font-size: x-large; font-weight: bold;">マイページ</h5>
        </div>
      </div>
    </div>
    <aside class="col-md-3">
      <section class="user_info">
        <p class = "image_center">
          <% if @user.image? %>
            <img src=<%= @user.image %> class = "icon_image">
          <% else %>
            <%= image_tag 'default-user-image.png', class: "icon_image" %>
          <% end %>
        </p>
        <p class="example2 text-center"><%= @user.name %></p><br/>
        <% if @user.id == current_user.id %>
          <div class="text-center"><%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn2" %></div>
        <% end %>
        <div class="co-wrap">
          <table>
            <tr><th>PSID</th><td><%= @user.psid %></td></tr>
            <tr><th>性別</th><td><%= @user.sex %></td></tr>
            <tr><th>年齢</th><td><%= @user.age %></td></tr>
            <tr><th>地域</th><td><%= @user.address %></td></tr>
          </table>
        </div>
      </section>
      <section class="self-intro">
        <div class="intro" >
          <% if @user.self_introduction? %>
            <%=safe_join(@user.self_introduction.split("\n"),tag(:br))%>
          <% else %>
            <p>自己紹介はまだありません。</p>
          <% end %>
        </div>
      </section>
    </aside>

    <div class="col-md-9">
      <div class="text-center">
          <p style="font-size: large; font-weight: bold; text-align:center;">所属クラン(最大三つまで)</p>
      </div>
      <div class="row-wrap">
        <% @user.clans.each do |clan| %>
          <%= link_to clan do %>
            <div class="profile-card">
              <div class="profile-card__inner">
                <div class="profile-thumb">
                  <% if clan.image? %>
                    <img src=<%= clan.image %>>
                  <% else %>
                    <%= image_tag 'default_clan.png' %>
                  <% end %>
                </div>
                <div class="profile-content">
                  <span class="profile-name"><%= clan.name %></span>
                  <span class="profile-job">(<%= clan.users.count %>)</span>
                  <span class="profile-job">ゲームタグ</span>
                  <%= link_to clan do %>
                    <span class="profile-intro">
                      <table>
                        <tr><th>ステータス</th><td><%= clan.status %></td></tr>
                        <tr><th>レベル</th><td><%= clan.level %></td></tr>
                        <tr><th>雰囲気</th><td><%= clan.atomosphere %></td></tr>
                        <tr><th>平均年齢</th><td><%= clan.average_age %></td></tr>
                      </table>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    
  </div>
</div>