<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <% if @user.image? %>
          <img src=<%= @user.image %> class = "icon_image">
        <% else %>
          <%= image_tag 'default-user-image.png', class: "icon_image" %>
        <% end %>
        <h1 style="font-weight: bold;"><%= @user.name %></h1>
        <div class="co-wrap">
          <span>性別：<%= @user.sex %></span>
          <span>年齢：<%= @user.age %></span>
          <span>PSID：<%= @user.psid %></span>
        </dic>
        <%= link_to "プロフィール編集", edit_user_registration_path, class: "btn btn2"  %>
      </section>
      <section class="self-intro">
        <p style="font-weight: bold;">自己紹介</p>
        <div class="box3">
          <p><%= @user.self_introduction %></p>
        </div>
      </section>
    </aside>
    
    <div class="col-md-8">
      <h1>メイン</h1>
      <h1>メイン</h1>
      <h1>メイン</h1>
      <h1>メイン</h1>
      <h1>メイン</h1>
    </div>
  </div>
</div>