<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">
      <div class="guide-content">
        <div class="page_title text-center">
            <h5 style="font-size: x-large; font-weight: bold;">クラン編集</h5>
        </div>
      </div>
      <%= form_with(model: @clan, local: true) do |f| %>
        <div class="field text-center">
          <% if @clan.image? %>
            <img src=<%= @clan.image %> class = "clan_image">
          <% else %>
            <%= image_tag 'default_clan.png', class: "clan_image" %>
          <% end %>
        </div>
        <div class="field">
          <%= f.file_field :image %>
        </div>
        <div class="form-group">
          <span class="badge badge-danger">必須</span><%= f.label :【名前】 %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :【レベル】 %>
          <%= f.text_field :level, autofocus: true, autocomplete: "level", class: "form-control" %>
        </div>
        <div class=":status-field">
            <%= f.label :【ステータス】 %><br />
            <%= f.select :status, [["メンバー募集中", "メンバー募集中"], ["非募集", "非募集"], ["活動休止中", "活動休止中"]], include_blank: "選択してください" %>
        </div>
        <div class=":atomosphere-field">
            <%= f.label :【雰囲気】 %><br />
            <%= f.select :atomosphere, [["エンジョイ", "エンジョイ"], ["エンジョイandガチ", "エンジョイandガチ"], ["ガチ", "ガチ"]], include_blank: "選択してください" %>
        </div>
        <div class="age-field">
            <%= f.label :【平均年齢】 %><br />
            <%= f.select :average_age, [["１０代", "１０代"], ["２０代", "２０代"], ["３０代", "３０代"], ["４０代", "４０代"], ["５０代以上", "５０代以上"]], include_blank: "選択してください" %>
        </div>
        <%= f.label :【ゲーム】 %><br />
        <div class="radio-btn">
        <% @tags.each do |tag| %>
          <%= f.radio_button :tag_list, "#{tag.name}" %>
          <%= f.label " #{tag.name}(#{tag.taggings_count})" %>
        <% end %>
        </div>
        <div class="form-group">
          <%= f.label :【クラン紹介】 %>(400文字以内)
          <%= f.text_area :clan_introduction, :rows => "7", autofocus: true, autocomplete: "clan_introduction", class: "form-control" %>
        </div>
        <div class="actions">
          <p><%= f.submit "変更する", class: "btn btn3 col-sm-12" %></p>
        </div>
      <% end %>
      <p><%= link_to 'クランへ戻る', "#", class: "btn btn4 col-sm-12" %></p>
      <p><%= link_to "クランを削除する", clan_path, data: { confirm: "本当にクランを削除しますか?" }, method: :delete, class: "btn btn_red col-sm-12" %></p>
    </div>
  </div>
</div>