<div class="container">
  <div class="row">
    <div class="offset-sm-0 col-sm-12 offset-sm-0">
      <div class="guide-content">
        <div class="page_title text-center">
          <h5 style="font-size: x-large; font-weight: bold;">クラン一覧</h5>
        </div>
      </div>
      <dl class="searchbox">
        <%= search_form_for @q do |f| %>
          <dt><%= f.search_field :name_cont, placeholder: "クラン名を入力", class: "form-control" %></dt>
          <dd><button type="submit" class="search-btn"><i class="fas fa-search" style="color: grey;"></i></button></dd>
        <% end %>
      </dl>


      <ul class="clans">
        <% @clans.each do |clan| %>
          <%= link_to clan do %>
          <li>
            <div class="profile-card">
              <div class="profile-card__inner">
                <div class="profile-thumb">
                  <% if clan.image? %>
                    <img src=<%= clan.image %>>
                  <% else %>
                    <%= image_tag 'default_clan.png' %>
                  <% end %>
                </div>
                <div class="profile-content">
                  <span class="profile-name"><%= clan.name %></span>
                  <span class="profile-job">(<%= clan.users.count %>)</span>
                  <span class="profile-job">ゲームタグ</span>
                  <%= link_to clan do %>
                    <span class="profile-intro">
                      <table>
                        <tr><th>ステータス</th><td><%= clan.status %></td></tr>
                        <tr><th>レベル</th><td><%= clan.level %></td></tr>
                        <tr><th>雰囲気</th><td><%= clan.atomosphere %></td></tr>
                        <tr><th>平均年齢</th><td><%= clan.average_age %></td></tr>
                      </table>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
      <%= paginate @clans %>
    </div>
  </div>
</div>


