<div class="container">
  <div class="row">
    <div class="offset-sm-0 col-sm-12 offset-sm-0">
      <div class="guide-content">
        <div class="page_title text-center">
          <h5 style="font-size: x-large; font-weight: bold;">クラン一覧</h5>
        </div>
      </div>
      <dl class="searchbox">
        <%= search_form_for @q do |f| %>
          <dt><%= f.search_field :name_cont, placeholder: "クラン名を入力", class: "form-control" %></dt>
          <dd><button type="submit" class="search-btn"><i class="fas fa-search" style="color: grey;"></i></button></dd>
        <% end %>
      </dl>
      <% @tags.each do |tag| %>
          <%= link_to "#{tag.name}(#{tag.taggings_count})", clans_path(tag_name: tag.name), class: "badge badge-primary"%>
      <% end %>
      <ul class="clans">
        <% @clans.each do |clan| %>
          <li>
            <div class="profile-card">
              <%= link_to(clan, data: {"turbolinks" => false} ) do %>
              <div class="profile-card__inner">
                <div class="profile-thumb">
                  <% if clan.image? %>
                    <img src=<%= clan.image %>>
                  <% else %>
                    <%= image_tag 'default_clan.png' %>
                  <% end %>
                </div>
                <div class="profile-content text-center">
                  <span class="profile-name"><%= clan.name %>(<%= clan.users.count %>)</span>
                  <%= raw(clan.tag_list.map { |t| link_to t, clans_path(tag_name: t), class: "profile-job" }.join(' ')) %>
                  <span class="profile-intro">
                    <table>
                      <tr><th>ステータス</th><td><%= clan.status %></td></tr>
                      <tr><th>レベル</th><td><%= clan.level %></td></tr>
                      <tr><th>雰囲気</th><td><%= clan.atomosphere %></td></tr>
                      <tr><th>平均年齢</th><td><%= clan.average_age %></td></tr>
                    </table>
                  </span>
                </div>
              </div>
            <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @clans %>
    </div>
  </div>
</div>


