<div class="container">
  <div class="row">
    <div class="offset-sm-0 col-sm-12 offset-sm-0">
      <div class="guide-content">
        <div class="page_title text-center">
          <h5 style="font-size: x-large; font-weight: bold;">クラン: <%= @clan.name %></h5>
          <%= raw(@clan.tag_list.map { |t| link_to t, clans_path(tag_name: t), class: "profile-job" }.join(' ')) %>
        </div>
        <p class= "image_center">
          <% if @clan.image? %>
            <img src=<%= @clan.image %> class = "clan_image_show">
          <% else %>
            <%= image_tag 'default_clan.png', class: "clan_image_show" %>
          <% end %>
        </p>
      </div>




      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-expanded="true">クランTOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile">メンバー(<%= @clan.users.count %>)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab" aria-controls="profile">掲示板</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="1-tab"> 
            <%# クラン情報 %>
            <div class="tab-pane-header">
              <p class="user-index text-center" style="font-weight: bold; margin-bottom: 10px;">基本情報</p>
              <table style="width: 95%;">
                <tr><th>ステータス</th><td><%= @clan.status %></td></tr>
                <tr><th>レベル</th><td><%= @clan.level %></td></tr>
                <tr><th>雰囲気</th><td><%= @clan.atomosphere %></td></tr>
                <tr><th>平均年齢</th><td><%= @clan.average_age %></td></tr>
              </table>
              <section class="self-intro" style="width: 95%; margin: auto;">
                <div class="intro">
                  <% if @clan.clan_introduction %>
                    <%=safe_join(@clan.clan_introduction.split("\n"),tag(:br)) %>
                  <% else %>
                    <p>クラン紹介はまだありません。</p>
                  <% end %>
                </div>
              </section>
              
            
              <!-- コミュニティ参加・退会ボタン -->
              <% if user_signed_in? %>
                <div class="text-center">
                  <% if user_admin_flg(current_user, @clan) == 1 %>
                    <%= link_to "クラン編集", edit_clan_path, class:"btn btn2", data: {"turbolinks" => false} %>
                  <% end %>
                  <% if @clan.user_belonging?(current_user) %>
                      <%= link_to '退会する', clan_belonging_path(@clan, @belonging), method: :delete, data:{ confirm: "クラン「#{@clan.name}」を退会します。よろしいですか？" } ,class:"btn btn_mini_red" %>
                  <!-- 当該コミュニティには所属していないが、ログインはしている場合 -->
                  <% elsif current_user %>
                    <% if @request %>
                      <%= link_to '申請取消', clan_request_path(@clan, @request), method: :delete, data:{ confirm: "クラン「#{@clan.name}」への参加申請を取り消します。よろしいですか？" } ,class: "btn btn_mini_red" %>
                    <% elsif  current_user.clans.count >= 3%>
                      <p class="btn btn_mini_red">クラン所属限度(3)</p>
                    <% elsif  @clan.users.count >= 20%>
                      <p class="btn btn_mini_red">定員(20名)</p>
                    <% else %>
                      <%= link_to '参加申請', clan_requests_path(@clan), method: :post, class: "btn btn2" %>
                    <% end %>
                  <% end %>
                </div>
              <% else %>
                <p class="user-index text-center" style="font-weight: bold;">クランに参加するにはユーザー登録・ログインが必要です。</p>
                <div class="text-center">
                  <%= link_to "ユーザー登録", new_user_registration_path, class:"btn btn2" %>
                  <%= link_to "ログイン", new_user_session_path, class:"btn btn2" %>
                </div>
              <% end %>
            </div>


          </div>

          <%# メンバー %>
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="2-tab">
            <div class="tab-pane-header">   
              <!-- 所属メンバー一覧 START -->
              <p class="user-index text-center" style="font-weight: bold;">所属メンバ一リスト(定員:20名)</p>
              <div class="container">
                <div class="row">
                  <% @belongings.each do |belonging| %>
                    <%= link_to belonging.user do %>
                      <div class="profile-card">
                        <div class="profile-card__inner">
                          <div class="profile-thumb" style="boader: none; border-radius: 100px; border: #010ca3 3px solid;">
                            <% if belonging.user.image? %>
                              <img src=<%= belonging.user.image %> class = "clan_image">
                            <% else %>
                              <%= image_tag ("default-user-image.png"), class:"clan_image" %>
                            <% end %>
                          </div>
                          <div class="profile-content">
                          <span class="profile-name"><%= belonging.user.name %></span>
                          <span class="profile-job">
                            <% if belonging.admin_flg == 1 %>
                              <div class="admin"><i class="fas fa-crown"></i> クランマスター</div>
                            <% else %>
                              <span>&nbsp;</span>
                            <% end %>
                          </span>
                          <span class="profile-intro">
                            <table>
                              <tr><th>PSID</th><td><%= belonging.user.psid %></td></tr>
                              <tr><th>性別</th><td><%= belonging.user.sex %></td></tr>
                              <tr><th>年齢</th><td><%= belonging.user.age %></td></tr>
                              <tr><th>地域</th><td><%= belonging.user.address %></td></tr>
                            </table>
                          </span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <!-- 承認待ちメンバーリスト START -->
              <% if user_admin_flg(current_user, @clan) == 1 %>
                <div class="container applicant-wrapper">
                  <p class="user-index text-center" style="font-weight: bold;">承認待ちユーザー</p>
                  <div class="row">
                    <% @clan.requests.each do |req| %>
                      <%= link_to req.user do %>
                        <div class="profile-card">
                          <div class="profile-card__inner">
                            <div class="profile-thumb" style="boader: none; border-radius: 100px; border: #010ca3 3px solid;">
                              <% if req.user.image? %>
                                <img src=<%= req.user.image %> class = "icon_image_mini">
                              <% else %>
                                <%= image_tag ("default-user-image.png"), class:"icon_image_mini" %>
                              <% end %>
                            </div>
                            <div class="profile-content">
                              <span class="profile-name"><%= req.user.name %></span>
                              <span class="profile-job">&nbsp;</span>
                              <span class="profile-intro">
                                <table>
                                  <tr><th>PSID</th><td><%= req.user.psid %></td></tr>
                                  <tr><th>性別</th><td><%= req.user.sex %></td></tr>
                                  <tr><th>年齢</th><td><%= req.user.age %></td></tr>
                                  <tr><th>地域</th><td><%= req.user.address %></td></tr>
                                </table>
                              </span>
                              <div class="text-center">
                                <%= link_to "承認", clan_belongings_path(req.clan, user_id: req.user.id, request_id: req.id), method: :post, class:"btn btn_req" %>
                                <%= link_to "却下", clan_request_path(req.clan, req), method: :delete, class:"btn btn_req2" %>
                              </div>
                            </div>  
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>


          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="3-tab">

            <div class="tab-pane-header">

              <% if @clan.user_belonging?(current_user) %>
                <%# ボード一覧 %>
                <% @boards.each do |board| %>
                  <% if board.user == current_user %>
                    <div class="balloon_r">
                      <div class="faceicon">
                        <% if board.user.image? %>
                          <img src=<%= board.user.image %>>
                        <% else %>
                          <%= image_tag ("default-user-image.png") %>
                        <% end %>
                      </div>
                      <div class="co-wrap">
                        <p class="says"><%= safe_join(board.content.split("\n"),tag(:br)) %></p>
                        <div style = "text-align: right;">
                          <%= board.created_at.strftime("%m月%d日 %H:%M") %>
                          <%= link_to '削除', clan_board_path(board_id: board.id, clan_id: @clan.id), method: :delete %>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="balloon_l">
                      <div class="co-wrap">
                        <div class="faceicon">
                          <% if board.user.image? %>
                            <img src=<%= board.user.image %>>
                          <% else %>
                            <%= image_tag ("default-user-image.png") %>
                          <% end %>
                        </div>
                        <p style="margin: 0 10px 0 10px; font-size: small;"><%= board.user.name %></p>
                      </div>
                      <div class="co-wrap">
                        <p class="says"><%= board.content %></p>
                        <%= board.created_at.strftime("%m月%d日 %H:%M") %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <%# ボードフォーム %>
                <%= form_for [@clan, @board] do |f| %>
                  <div class="form-group offset-sm-3 col-sm-6 offset-sm-3">
                    <%= f.text_area :content, :rows => "3", placeholder: "投稿内容を入力", autofocus: true, class: "form-control" %>
                  </div>
                  <div class="form_area__action" style="margin: 0px; padding: 0px; text-align: center;">
                    <%= f.submit "投稿", class: "btn btn2" %>
                  </div>
                <% end %>
              <% else %>
                <p class="user-index text-center" style="font-weight: bold;">クラン所属メンバーのみ閲覧可</p>
              <% end %>

            </div>

          </div>
        </div>
      </div>  
    </div>
  </div>
</div>

