<div id="box1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag 'team_blue2.png', class: "top_image" %>
      </div>
      <div class="col-lg-6">
        <p class="example1" style="margin-top: 80px;">“WE PLAY”で<br> プレステ仲間探し</p>
        <p class="example1" style="margin: 50px 0px;">一緒に遊べば、<br>ゲームはもっと楽しい!!</p>
        <div class="text-center btn-group">
          <div class="co-wrap">
          <p class="text-center"><%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-lg btn_top"  %></p>
          <p style="font-size: small;"><%= link_to "使ってみる!?(ゲストでログイン)", new_user_session_path %></p>
          </div>
          <p class="text-center"><%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn_top"%></p>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div id="box2">
  <p style= "margin: 150px 0px 50px 0px;", class="example1 text-center">自分にピッタリの仲間を見つけてパーティープレイ</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 style="font-weight: bold;"><i class="fas fa-check" style="color: #010ca3;"></i>クランを探す?それとも作る?</h4>
        <%= image_tag 'clan.png', class: "top_howto" %>
      </div>
      <div class="col-lg-6">
        <h2 style="font-weight: bold;"><i class="fas fa-check" style="color: #010ca3;"></i>掲示板でコミュニケーション！</h4>
        <%= image_tag 'chat.png', class: "top_howto" %>
      </div>
    </div>
    <p class="text-center"><%= link_to "クランを探す", clans_path, class: "btn btn-lg btn_top" %></p>
  </div>
</div>
