<div id="box1">
  <div class="container">
    <div class="row top-summary">
      <div class="col-sm-6 col-md-6 col-lg-5">
        <%= image_tag 'team_blue2.png', class: "top_image" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-7 top-message">
        <p class="example1">プレステ仲間探しは “WE PLAY”</p>
        <p class="example1">一緒に遊べばゲームはもっと楽しくなる!!!</p>
        <div class="btn-toolbar">
          <div class="btn-group">
          <p><%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-lg btn1"  %></p>
          <p><%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn1"%></p>
          </div>
        </div>
        <p style="font-size: small;"><%= link_to "使ってみる!?(ゲストでログイン)", new_user_session_path %></p>
        <p class="example1">人気ゲームはこちら</p>
        
      </div>
    </div>
  </div>
</div>

<div id="box2">
  <p style= "margin: 150px 0px 50px 0px;", class="example1 text-center">自分にピッタリの仲間を見つけてパーティープレイ</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4><i class="fas fa-check" style="color: #128da0;"></i>クランを探す?それとも作る?</h4>
        <%= image_tag 'team_blue2.png', class: "about-hareyaka card" %>
      </div>
      <div class="col-lg-4">
        <h4><i class="fas fa-check" style="color: #128da0;"></i>掲示板でメンバーとコミュニケーション！</h4>
        <%= image_tag 'team_blue2.png', class: "about-hareyaka card" %>
      </div>
      <div class="col-lg-4">
        <h4><i class="fas fa-check" style="color: #128da0;"></i>イベントの開催・参加！</h4>
        <%= image_tag 'team_blue2.png', class: "about-hareyaka card" %>
      </div>
    </div>
    <p class="text-center"><%= link_to "クランを探す", "#", class: "btn btn1 btn-lg" %></p>
  </div>
</div>
