
<%= devise_error_messages %>
<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">    
    <p class="example1 text-center">パスワードをお忘れの方</p>
      <h6 style="color: grey;">※入力頂いたメールアドレスに再度パスワード発行手続きのURLを送らせて頂きます。</h6> 
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="form-group">
          <span class="badge badge-danger">必須</span><%= f.label :メールアドレス, class: "col-xs-3" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="actions">
          <p><%= f.submit "送信", class: "btn btn3 col-sm-12" %></p>
        </div>
      <% end %>
      <p><%= render "users/shared/links" %></p>
    </div>
  </div>
</div>
