<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top header-nav shadow-sm">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo_white_1.png', style: "width: 100px;" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navmenu1">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i class="fas fa-handshake"></i><%= link_to ' クランを探す', clans_path %></li>
          <li class="nav-item"><i class="fas fa-flag"></i><%= link_to ' クランを作る', new_clan_path %></li>
          <% if current_user.image? %>
            <img src=<%= current_user.image %> class = "icon_image_mini">
          <% else %>
            <%= image_tag 'default-user-image.png', class: "icon_image_mini" %>
          <% end %>
          <li class="nav-item">
              <div class="dropdown"> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right" style="color: #010ca3; text-align: left;">
                  <li class = "menu_item"><i class="fas fa-user-circle"></i><%= link_to ' マイページ', current_user %></li>
                  <li class = "menu_item"><i class="fas fa-cog"></i><%= link_to ' 設定', edit_user_registration_path %></li>
                  <li class = "menu_item"><i class="fas fa-sign-out-alt"></i><%= link_to ' ログアウト', destroy_user_session_path, method: :delete %></li>
                </ul>
              </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i class="fas fa-handshake"></i><%= link_to ' クランを探す', clans_path %></li>
          <li class="nav-item"><i class="fas fa-user"></i><%= link_to ' ユーザー登録', new_user_registration_path %></li>
          <li class="nav-item"><i class="fas fa-sign-in-alt"></i><%= link_to ' ログイン', new_user_session_path %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>