<h2>ユーザープロフィール変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, class: "form-control",autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  

  <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :self_introduction, class: "form-control" %>
  </div>
  
  <%= f.label :性別 %><br />
  <div class="radio-btn">
    <%= f.label :男性  %>
    <%= f.radio_button :sex, :男性 %>
    <%= f.label :女性  %>
    <%= f.radio_button :sex, :女性 %>
  </div>


  <div class="field">
    <%= f.label :パスワード %> <i>(変更しない場合は空白のまま)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最低<%= @minimum_password_length %>文字</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :パスワードの再入力 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %> <i>(変更をする場合はご入力ください)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>

<h3>アカウントの削除</h3>

<p> <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか?" }, method: :delete %></p>

<%= link_to "戻る", :back %>

